body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0px;
}

h1{
  background-color: transparent !important;
}

.Contenedor {
  display: flex;
}

.barra-lateral {
  width: 20%;
  padding: 20px;
}

.diagrama-container {
  width: 80%;
  padding: 20px;
}

header {
  width: 100%;
  padding: 20px;
  background-color: rgb(255, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

header h1 {
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

header img {
  height: 80px; /* Ajusta el tamaño de la imagen según sea necesario */
  position: absolute;
  right: 45px;
}

/* Botón buscar */
.button-buscar {
  background-color: #ec0000;
  color: #fff;
  padding: 10px 78px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-buscar:hover {
  background-color: #ab0300;
}

/* Barra de búsqueda */
input {
  width: 200px;
  height: 40px;
  box-shadow: 0 2px 5px rgba(224, 48, 48, 1);
  border: none;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px; /* Espacio entre el input y el botón */
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

header {
  width: 100%;
  padding: 20px;
  background-color: rgb(255, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

header h1 {
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

header img {
  height: 80px; /* Ajusta el tamaño de la imagen según sea necesario */
  position: absolute;
  right: 45px;
}

/* Estilos para la lista desplegable */
#tecnologia {
  width: 200px; /* Ajusta el ancho según tus necesidades */
  margin-top: 10px; /* Ajusta la separación desde la barra de búsqueda */
  padding: 5px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  border-radius: 4px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde gris claro */
}

/* Estilos para la barra de búsqueda seleccion */
#search {
  width: 200px; /* Ajusta el ancho según tus necesidades */
  padding: 5px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  border-radius: 4px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde gris claro */
}

.consulta-guardada {
  position: relative; 
  font-size: larger;
  right: 1px;
  top: 10px;
  background-color: #ffffff;
  padding: 10px;
}

/* Contenedor general */
.contenedor {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Para alinear verticalmente el input y el botón */
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
