#search {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    padding: 5px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 4px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde gris claro */
    position: absolute;
  }

h1 {
  text-align: center;
}

  /*Barra de busqueda*/
input {
    width: 200px;
    height: 40px;
    box-shadow: 0 2px 5px rgba(224, 48, 48, 1);
    border: none;
    padding: 10px;
    border-radius: 3px;
    
  }
.contenedor1 {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
