body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Droid Sans', 'Helvetica Neue', 'Arial WGL Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0px;
  background-color: rgb(249, 249, 249);
}

main {
  margin: 50px;
  /* Aplicar margen alrededor del elemento principal */
}

.bandera {
  max-height: 100%;
  max-width: 50px;
  height: auto;
  margin-left: 40px;
  margin-top: 3px;
  border-radius: 5px;
}

.banderaContainer {
  display: flex;
  align-items: center;
  /* Alinea verticalmente los elementos */
}

.dropdown {
  margin-left: 20px;
}

.dropdown :hover {
  transform: scale(1.03);
  border-radius: 10px;
 
}

.mainContainer {
  display: flex;
  align-items: stretch;
  /* Asegura que los elementos tengan la misma altura */
  width: 100%;
  /* Ajusta el ancho del contenedor principal */
  padding: 0px;
}

.botonesContainer {

  display: flex;
  justify-content: space-between;
  /* Distribuye los botones horizontalmente */
  align-items: stretch;
  /* Asegura que los botones tengan la misma altura que el contenedor */
  padding: 2px;
  width: 100%;
  background-color: aliceblue;
  /* Asegura que el contenedor ocupe el ancho disponible */
}

/* Estilo de cada botón */
.cuadroBotones {
  padding: 15px;
  margin: 0 5px;
  /* Espacio entre los botones */
  flex: 1;
  /* Asegura que los botones ocupen espacio igual en el contenedor */
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  /* Ajusta la altura según sea necesario */
  text-align: center;
  border: 1px solid transparent;
  /* Agrega un borde inicial transparente para evitar un salto visual */
  transition: border-bottom 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, font-weight 0.3s ease;
  /* Transiciones suaves para múltiples propiedades */
  font-weight: normal;
  /* Establece el peso de la fuente por defecto */
  text-decoration: none;
  /* Elimina el subrayado del enlace */
  color: inherit;
  /* Asegura que el color del texto sea heredado */
}

.cuadroBotones:hover {

  border-bottom: 4px solid rgb(255, 213, 0);
  /* Subraya el botón con un borde amarillo en la parte inferior */
  transform: scale(1.05);
  /* Aumenta ligeramente el tamaño del botón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Agrega una sombra para el efecto de profundidad */
  font-weight: bold;
  /* Pone el texto en negrita al pasar el mouse */
  font-family: unset;
}

header {
  width: 100%;
  height: 50px;
  padding: 20px;
  background-color: rgb(255, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

header h1 {
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

header img {
  height: 35px;
  /* Ajusta el tamaño de la imagen según sea necesario */
  position: absolute;
  right: 45px;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #aa1f1f;
  background-color: rgb(228, 228, 228);
}

h1 {
  text-align: center;
  font-size: 25px;
}