.contenedorBody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10px;
    background-size: cover;
    background-position: center;
    background-image: url("/public/imagenes/fondoLoginClaroBlanco.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ccc;
    }

.contenedorLogin{
    background-color: #ececec;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    
}

.contenedorLogin input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contenedorLogin label{
    width: 100%;
    font-weight: bold;
    margin: 5px;
}

.contenedorLogin button{
    width: 80%;
    height: 50px;
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 10px;
    border-color: azure;
}

.contenedorLogin button:hover{
    background-color: #ca0000;
    font-weight: bold;
    transform: scale(1.05);
}


.inputForm {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.mensaje {
    margin-top: 15px;
    color: #d9534f; /* Color rojo para mensajes de error */
    text-align: center;
  }